body {
    background-color: rgb(255, 247, 236);
}
.fa {
    padding-right: 10px;
}

.dropdown{
    border-color: black;
}
.nav-link {
    margin-left: 10px;
    margin-right: 10px
}

.nav-item.custom-button:hover {
    background-color: rgb(238, 238, 238);
    border: 1px solid black;
  }

  .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .rounded-more {
    border-radius: 15px;
}

  @media (min-width: 768px) {
    #shon {
      padding-top: calc(2 / 3.5 * 100%);
      /* change to landscape aspect ratio on md breakpoint and up */
    }
  }