.fa {
    padding-right: 10px;
}

.dropdown{
    border-color: black;
}
.nav-link {
    margin-left: 10px;
    margin-right: 10px
}

.nav-item.custom-button:hover {
    background-color: rgb(238, 238, 238);
    border: 1px solid black;
  }