body {
    background-color: rgb(249, 243, 235);
    font-family: 'Barlow', sans-serif;
}
.fa {
    padding-right: 10px;
}

.dropdown{
    border-color: black;
}
.nav-link {
    margin-left: 10px;
    margin-right: 10px
}

.nav-item.custom-button:hover {
    background-color: rgb(238, 238, 238);
    border: 1px solid black;
  }

  .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .rounded-more {
    border-radius: 10px;
}

.aspectRatioBox {
    padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
    background-size: cover;
    background-position: center;
}

.aspectRatioBox2 {
    padding-top: calc(5 / 4 * 100%); /* aspect ratio 4:5 */
    background-size: cover;
    background-position: center;
    max-height: 100px;
}

.fa-arrow-down {
    font-size: 3rem;
}

.home-links {
    color: black;
    text-decoration: none;
}

.home-links:hover {
    color: grey;
}

.btn-outline-light {
    border-color: black;
    color: black;
}